
header {
    background-color: rgb(114, 114, 114);
    padding: 10px;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

header p{
    text-align: center;
}

header img {
    width: 200px;
    height: 60px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    background-color: #2adede;
    color: blueviolet;
    font-size: 30px;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 15px;
}

p img {
    height: 150px;
    width: 200px;
}

footer {
    background-color: #636363;
    padding: 10px;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px;
}

 main img{ padding: 10px;}